// table of contents
// 0. default settings
// 1. variables
// 2. mixins
// 3. ids
// 4. classes
// 5. tags
// 6. animation
// 7. media queries

// 0. default settings
* {
    margin: 0;
    padding: 0;
    text-align: center;
}

// 1. variables
$prime-color: black;
$second-color: white;
$third-color-100: hsl(120, 100%, 25%);
$third-color-200: hsl(120, 100%, 45%);
$third-color-300: hsl(120, 100%, 65%);
$third-color-400: hsl(120, 100%, 85%);
$fourth-color-100: hsl(60, 100%, 20%);
$fourth-color-200: hsl(60, 100%, 40%);
$fourth-color-300: hsl(60, 100%, 60%);
$fourth-color-400: hsl(60, 100%, 80%);
$base-font-size: 10px;
$golden-ratio: 1.618;

// 2. mixins

@mixin padding {
    padding: .2em;
    margin: .2em;
}
@mixin font-size($num) {
    font-size: $num * $base-font-size * $golden-ratio;
}
// 3. ids
// 4. classes
.card {
    @include padding();
    width: 90vw;
    margin: .2em auto;
    border: solid .2em black;
    background-color: $third-color-100;
    color: $third-color-400;
    font-weight: 900;
    span {
        font-weight: 100;
    }
}
// 5. tags
nav {
    max-width: 100vw;
    height: fit-content;
    background-color: $second-color;
    color: $prime-color;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    a {
        @include font-size(2);
        @include padding();
        background-color: $prime-color;
        color: $second-color;
        transition-duration: 300ms;
        text-decoration: none;
        &:hover {
            background-color: $second-color;
            color: $prime-color;
        }
    }
}
h2 {
    @include padding();
    width: fit-content;
    margin: .2em auto;
    color: $fourth-color-400;
    background-color: $fourth-color-100;
}
// 6. animation
// 7. media queries
@media only screen and (max-width: 810px) {
    nav {
        flex-wrap: wrap;
    }
}