// table of contents
// 0. default settings
// 1. variables
// 2. mixins
// 3. ids
// 4. classes
// 5. tags
// 6. animation
// 7. media queries

// 0. default settings
* {
    margin: 0;
    padding: 0;
    text-align: center;
}

// 1. variables
$prime-color: black;
$second-color: white;
$third-color-100: hsl(120, 100%, 25%);
$third-color-200: hsl(120, 100%, 45%);
$third-color-300: hsl(120, 100%, 65%);
$third-color-400: hsl(120, 100%, 85%);

// 2. mixins

@mixin padding {
    padding: .2em;
    margin: .2em;
}
// 3. ids
// 4. classes
.card {
    @include padding();
    border: solid .2em black;
    background-color: $third-color-100;
    color: $third-color-400;
    font-weight: 900;
    span {
        font-weight: 100;
    }
}
// 5. tags
// 6. animation
// 7. media queries